body {
    font-family: Helvetica;
    width: 100vw;
}

.wrapper {
    display: block;
}

body a {
    color: #333;
    text-decoration-line: none;
}

/* navbar 1st */ 
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

.container {
    padding-top: 3rem;
}
@media screen and (min-width:769px) {
    .container {
        padding-top: 4rem;
    }
}

navbar {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 5%;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
}
@media screen and (min-width:769px) {
    navbar {
        height: 4rem;
        padding: 0 2%;
    }
}


navbar .navbar--icons {
    display: flex;
    font-size: 1rem;
}
@media screen and (min-width:769px) {
    navbar .navbar--icons {
        font-size: 1.5rem;
    }
}

.navbar--icons span {
    margin-left: 0.5rem;
}

navbar .navbar--img {
    display: flex;
    justify-content: space-around;

}

.navbar--img img {
    max-width: 55%;
}
@media screen and (min-width:769px) {
    .navbar--img img {
        max-width: 70%;
    }
}

/* navbar 2nd */
.trend {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    font-size: 0.75rem;
    text-align: center;
}

@media screen and (min-width:769px) {
    .trend {
        font-size: 1rem;
        margin-bottom: 6rem;
    }    
}


/* primary */
.primary_brand {
    margin: 5%;
}

@media screen and (min-width:769px) {
    .primary_brand {
        margin: 2%;
        margin-bottom: 2rem;
    }
}


.primary_brand img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.primary_arrival {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
    margin: 5%;
}
@media screen and (min-width:769px) {
    .primary_arrival {
        margin: 0 2%;
        margin-bottom: 4rem;
    }
}


.primary_arrival h2  {
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 2rem;
}


.primary_arrival a {
    font-size: 1.25rem;
}


/* secondary */
.secondary_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5%;;
    width: 90%;
}
@media screen and (min-width:769px) {
    .secondary_display {
        margin: 0 2%;
        width: 96%;
        margin-bottom: 4rem;
    }
}


.secondary_display .cloth-each {
    max-width: 45%;
    margin-bottom: 2rem;
}
@media screen and (min-width:769px) {
    .secondary_display .cloth-each {
        max-width: 23.5%;
        margin-bottom: 0;
    }
}



.cloth-info p {
    font-size: 0.75rem;
    margin: 0.5rem auto;
    text-align: center;
}

.cloth-info img {
    width: 100%;
}

/* thirdly */
.thirdly {
    margin-bottom: 2rem;
}
@media screen and (min-width:769px) {
    .thirdly {
        margin-bottom: 4rem;
    }
}

.thirdly_display {
    text-align: center;
}

.thirdly--each img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 100%;
}
@media screen and (min-width:769px) {
    .thirdly--each img {
        height: 500px;
        width: 96%;
    }
}

.thirdly--each p {
    font-size: 1.25rem;
}

/* insta button */
.button_insta .button_a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.button_a {
    font-size: 1.5rem;
}

.button_a span {
    margin-left: 0.5rem;
}

.button_a i {
    font-size: 1.5rem;
}



/* sliding display */
.sliding_display {
    margin-bottom: 2rem;
}

.horizontal_list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    line-height: 0;
    scroll-snap-type: x proximity;
    margin-left: 5%;
    padding-left: 0;
}
@media screen and (min-width:769px) {
    .horizontal_list {
        margin-left: 2%;
        padding: 0;
    }
}

.list--each_item {
    display: inline-block;
    width: 65%;
    height: 200px;
    scroll-snap-align: start;
}
@media screen and (min-width:769px) {
    .list--each_item {
        width: 30%;
    }
}

.list--each_item img {
    width: 100%;
}
@media screen and (min-width:769px) {
    .list--each_item img {    
        width: 93%;
    }
}



/* footer */
.footer {
    padding: 5%;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #F9F6F1;
}

.footer--intro p {
    text-align: center;
    margin-bottom: 2rem;
}

.footer--intro .footer--intro_button {
    background-color: #333;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:769px) {
    .footer--intro .footer--intro_button {
        width: 40%;
    }
}

.footer--intro_button a {
    color: white;
}

.footer-secondary {
    padding: 0 5%;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
}

.footer--about {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-top: 1px solid #333;
    padding: 0 5%;
    margin: 0;
}

.footer--about li {
    width: 50%;
    list-style: none;
    line-height: 3rem;
}

/* sns */
.footer--sns {
    font-size: 1rem;
    border-top: 1px solid #333;
    text-align: center;
    margin-bottom: 2rem;
}

.footer--sns .footer--sns_each {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer img {
    display: block;
    margin: 0 auto;
    width: 15%;
}

/* copyright */
.footer_copyright {
    align-items: flex-end;
}
.footer_copyright .copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_copyright p {
    margin-left: 0.5rem;
}